.modal.fade#modal{tambindex: '-1', role: 'dialog'}
  .modal-dialog.modal-lg.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-header
        %h5.modal-title=t(:preview)
        %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
          %span{'aria-hidden' => true} &times;
      .modal-body
        .row
          .col-12
            %label=t(:code_for_your_page)
            %textarea#embeed.form-control{rows: 3, readonly: true, style: 'resize: none;'}
          &nbsp;
          %iframe#iframe.col-12{frameborder: 0}
      .modal-footer
        %button.btn.btn-outline-secondary{type: 'button', 'data-dismiss' => 'modal'}=t(:close)