.card
  .card-header.clearfix
    .float-right
      =link_to t(:new_web_site), new_web_site_path
  .card-body
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th=t(:name)
          %th=t(:description)
          %th=t(:email)
          %th=t(:actions)
      %tbody
        -@web_sites.each do |web_site|
          %tr
            %td=web_site.name
            %td=web_site.description
            %td=web_site.email
            %td
              %a{href: "javascript:show_preview('#{web_site.hmac}')"}=t(:preview)
              =link_to t(:edit), edit_web_site_path(web_site)
              =link_to t(:delete), web_site_path(web_site), method: :DELETE, data: { confirm: t(:confirm)}
=render 'modal_preview'
:javascript
  function show_preview(id){
    var url = "#{preview_web_sites_url()}";
    url = url+'?id='+id;
    console.log(url);
    $('#iframe').attr('src', url);
    $('#embeed').val("<iframe src='"+url+"' frameborder='0' ></iframe>");
    $('#modal').modal('show');
  }