=simple_form_for @web_site do |f|
  .card
    .card-body
      .row
        .col-6
          =f.input :name
        .col-6
          =f.input :email
        .col-6
          =f.input :description
        .col-6
          =f.association :template
        .col-12
          =f.association :framework
        .col-12
          =f.input :css, input_html: { class: 'editor', rows: 6 }
        .col-12
          =f.input :js, input_html: { class: 'editor', rows: 6 }
        .col-12
          =f.input :html, input_html: { class: 'editor', rows: 6 }
        .col-12
          %h5=t(:preview)
          %iframe#preview.w-100
    .card-footer.clearfix
      .float-right
        =link_to t(:return), root_path, class: "btn btn-outline-warning"
        =f.button :submit, class: "btn btn-success"
:javascript

  var templates = #{@templates.to_json.html_safe};

  $(document).ready(function(){
    reload_preview();

    $('.editor').on('focusout', function(){
      reload_preview();
    });
    $('#web_site_template_id').on('change', function(){
      var id_sel = this.value;
      var template = null;
      $.each(templates, function(index, temp){
        if(temp.id == id_sel){template = temp;} 
      });
      $('#web_site_framework_id').val(template.framework_id);
      $('#web_site_css').val(template.css);
      $('#web_site_html').val(template.html);
      $('#web_site_js').val(template.js);
      reload_preview();
    });
    $('#web_site_framework_id').on('change', function(){
      reload_preview();
    });
  });

  function reload_preview(){
    $.ajax({
      url: "#{preview_web_sites_path()}",
      type: "post",
      data: {
        "js": $('#web_site_js').val(),
        "css": $('#web_site_css').val(),
        "html": $('#web_site_html').val(),
        "framework": $('#web_site_framework_id').val()
      },
      success: function(data) {
        var iframe = document.getElementById('preview');
        iframe.contentDocument.write(data);
        iframe.contentWindow.document.close();
      },
      error: function(data) {
        console.log('error');
      }
    });
  }