-if !@framework.nil?
  =@framework.css.html_safe rescue ''
  =@framework.js.html_safe rescue ''
%style
  =@css.html_safe
%script
  window.onload = function(){#{@js.html_safe}}
-if @id.blank?
  =@html.html_safe
-else
  %form#form{action: send_mail_web_site_url(@id), method: 'post'}
    =@html.html_safe