-flash.each do |key, value|
  -key = "warning" if key == "alert"
  -key = "success" if key == "notice"
  .alert.alert-dismissible.fade.show.flash-message{role: "alert", class: "alert-#{key}"}
    =value
    %button.close{type: "button", "data-dismiss"=>"alert", "aria-label"=>"Close" }
      %span{"aria-hidden"=>"true"}
        &times;