%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %button.navbar-toggler{"aria-controls" => "navbarTogglerTitle", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerTitle", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{href: root_path}=t(:app_name)
  #navbarTogglerTitle.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      %li.nav-item.active
        %a.nav-link{href: root_path}=t(:home)
      %li.nav-item
        %a.nav-link{href: "#"}=t(:config)
    %form.form-inline.my-2.my-lg-0
      =link_to t(:sign_out), destroy_user_session_path, method: :delete, class: "btn btn-outline-danger my-2 my-sm-0"