<!DOCTYPE html> 
  <html>
  <head>
    <title>Mantenimiento</title>
    <style type="text/css">
      body {
        width: 400px;
        margin: 100px auto;
        font: 300 120% "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
      }
      h1 {
        font-weight: 300;
      }
    </style>
  </head>
  <body>
    <h1>Mantenimiento</h1>
    <p>
      Sitio deshabilitado por <%= reason ? reason : "mantenimiento" %>
      <br>
      desde <%= Time.now.strftime("%F %H:%M %Z") %>.
    </p>
    <p>Volveremos <%= deadline ? deadline : "pronto" %>.</p> 
  </body>
</html>

