%h2=t(:sign_up)
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }
    = f.input :password, required: true, hint: (t(:min_characters, min: @minimum_password_length) if @minimum_password_length), input_html: { autocomplete: "new-password" }
    = f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } |
  .form-actions
    = f.button :submit, t(:sign_up)
= render "users/shared/links"
